{:paths ["src"]

 :deps {org.clojure/core.async {:mvn/version "0.3.443"}
        com.cerner/clara-rules {:mvn/version "0.15.1" :exclusions [prismatic/schema]}
        prismatic/schema       {:mvn/version "1.1.6"}
        org.clojure/core.match {:mvn/version "0.3.0-alpha4"}}

 :aliases
 {:clj  {:extra-deps {;; Clojure(Script) is "provided"
                      org.clojure/clojure       {:mvn/version "1.10.0"}
                      org.clojure/clojurescript {:mvn/version "1.10.520"}}}
  :test {:extra-paths ["test" "target"]
         :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :dev  {:extra-paths ["dev" "target"]
         :extra-deps  {figwheel-sidecar {:mvn/version "0.5.12"}
                       rum              {:mvn/version "0.10.8"}}}}}
